version: "3.9"

services:
  app:
    build: .
    container_name: chatbot_app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    restart: always
    command: npm run start

  postgres:
    image: postgres:15
    container_name: chatbot_postgres
    restart: always
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev123
      POSTGRES_DB: chatbot_dev
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: chatbot_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata:
